body {
    margin: 0px;
}

.headerBar {
    width: 100%;
    height: 40px;
    background-color: lightblue;
    margin-bottom: 10px;
    position: relative;
    font: bold 1.2em;
}

.headerLabel {
    padding: 10px 10px 5px 10px;
}