<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <appSettings>
    <add key="clientId" value="YOUR_CLIENT_ID"/>
    <add key="clientSecret" value="YOUR_CLIENT_SECRET"/>
    <add key="redirectUri" value="http://localhost:49611/default.aspx"/>
  </appSettings>
</configuration>